<tr class="group flex flex-col md:table-row">
    <td class="p-3">
        <div class="flex items-center gap-6">
            <img src="<%= item.product.image %>" alt="<%= item.product.name %>" class="w-32 h-32 object-contain rounded-lg bg-white">
            <a href="/products/<%= item.product.id %>" class="font-bold hover:text-sky-600 transition"><%= item.product.name %></a>
        </div>
    </td>
    <td class="p-3 flex justify-between md:table-cell">
        <span class="md:hidden">価格:</span>
        &yen;<%= Number(item.product.price).toLocaleString() %>
    </td>
    <td class="p-3 flex justify-between md:table-cell">
        <span class="md:hidden">数量:</span>
        <span><%= item.quantity %></span>
    </td>
    <td class="p-3 flex justify-between md:table-cell">
        <span class="md:hidden">小計:</span>
        &yen;<%= Number(item.product.price * item.quantity).toLocaleString() %>
    </td>
    <td class="p-3 text-right md:table-cell">
        <form action="/cart/remove" method="POST">
            <input type="hidden" name="productId" value="<%= item.productId %>">
            <button type="submit" class="text-gray-400 hover:text-red-500 transition p-2 rounded-full">
                <img src="/svg/trash.svg" alt="Trash" class="w-5 h-5 inline">
            </button>
        </form>
    </td>
</tr>